#root {
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(135deg, #ffffff, #c9b7ff, #aaf3fd);
  animation: gradientAnimation 5s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}